img{
  /* border-radius: 50%; */
  height: 400px;
  width: 400px;
}
td{
  padding-left: 10px;
}
.header{
  height: 50px;
  width: 100%;
}
body{margin: 0;
background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
font-family: 'Open Sans', sans-serif ;
}

/* html{ */

/* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
/* } */
.image-div{
  margin-left: 750px;
  margin-right: auto;
  /* margin-top: 50px; */
}
.name{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 5em;
  ;
}
.programmer{
  text-align: center;
  margin-top: -25px;
  margin-bottom: 55px;
  font-size: 5em;
  /* margin-bottom: 200px; */
}
table{
  margin-left: 600px;
  margin-top: -25px;
  margin-bottom: 36px;
}
td{
  padding-left: 100px;
  font-size: 25px;
}
.row{
  margin: auto;
  width: 70%;
}
.col{
  text-align: center;
}
.footer{
  background-color: #89CFF0;
  text-align: center;
  width: 100%;
  /* padding-top: 10px; */
  /* bottom: 0; */
  position: absolute;
  font-weight: 900;

  bottom: 0;
  /* bottom: 0; */
  height: 30px;
}

.fab, .far{
  color: white;
  display: inline-block;
  float: right;
  margin-right: 50px;
  margin-top: 30px;
  font-size: 30px;
}


/* .far{
  color: white;
  display: inline-block;
  float: right;
  margin-right: 50px;
  margin-top: 30px;
  font-size: 30px;
} */
